button {
  background-color:#000060 ;
  font-size: 50px;
  color:white;
  padding: 10px 20px;
  margin:20px;
  border-style: none;
  border-radius: 10px;
  outline:none;
}
button:active {
  background-color:#000030;
}
